p {
    margin-bottom: 4rem;
}

.images {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.image {
    width: 30vw;
    height: 20vw;
    background-size: contain;
    background-repeat: no-repeat;
}

.content {
    width: 60vw;
    line-height: 2rem;
    color: white;
}

#main {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#img-1 {
    background-image: url('../img/box.jpg');
}

#img-2 {
    background-image: url('../img/box2.jpg');
}

#img-3 {
    background-image: url('../img/box3.jpg');
}

#img-4 {
    background-image: url('../img/box4.jpg');
}

#img-5 {
    background-image: url('../img/box5.jpg');
}

@media screen and (max-width: 1080px) {
    .content {
        width: 90vw;
        font-size: 3.5rem;
        line-height: 4.75rem;
    }
    
    .image {
        width: 60vw;
        height: 40vw;
    }

    #main {
        width: 100vw;
    }
}